nav.navbar.bg-light {
  background-color: #fdf0e6 !important;
}

div.app {
  background: #fdf0e6;
}

.page-1 .jumbotron-fluid {
  background-color: transparent;
}

.page-1 .jumbotron-fluid h1.display-4 {
  color: #f08e80;
}

.page-2 {
  background: white;
}

.page-2 h3 {
  margin: 10rem auto;
  font-size: 2.5rem;
  font-weight: 300;
  width: 70%;
}

.page-3 h3 {
  margin: 3rem auto;
  color: #f08e80;
}

.page-3 ul li {
  margin: 2rem auto;
  border: none;
}

.page-4, .page-5, .page-6 {
  background: white;
}